.create-question-container {
    max-width: calc(100% - 10rem);
    margin: auto;
    padding-top: 4rem;
}

.title {
    margin-top: 5rem;
    text-align: center;
}

.question-title-container {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 80%;
    justify-content: center;
    background-color: darkgrey;
    height: 100%;
}

.question-container {
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 80%;
    justify-content: center;
    background-color: darkgrey;
    height: 100%;
}

.question-container--inner {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.question-body-textarea {
    min-height: 10rem;
    max-height: 30rem;
    padding: 10px;
    outline: none;
    overflow-y: scroll;
    max-width: 50rem;
    resize: vertical;
}

.question-body-textarea:focus {
    border-color: #ccc;
}


.question-title-input {
    width: 45rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 0;
}

.tags-section, .question-section, .question-title-section {
    display: flex;
    justify-content: center;
}

.tag-container {
    margin-top: 6rem;
    width: 80%;
    background-color: darkgrey;
    height: 26rem;
}

.tag-container--inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.custom-text-field {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
}

.no-result-message {
    padding: 0 0 12px 12px;
}

.error {
    color: #ff1a2a;
    margin-top: 8px;
}

.hidden {
    display: none;
}

.block {
    display: block;
}