/* Resetting default padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
}

/* Styling for the main header section */
.mainHeader {
    height: auto;
    width: auto;
    padding: 10rem 4rem 0 16rem;
}

/* Styling for the main header container */
.mainHeader .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
}

/* Styling for layout within the main header */
.mainHeader .container .mainHeaderTextLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
}

/* Styling for specific elements within the main header */
.mainHeader .container .mainHeaderTextLayout h1 {
    margin-bottom: 1rem;
}

.mainHeader .container .mainHeaderTextLayout button {
    margin-top: 1rem;
}

.picture-border {
    display: flex;
    margin: auto;
}

.mainHeader #unsplashPicture1 {
    height: 18rem;
    border-radius: .5rem;
}

/* Styling for the perks section */
.sectionPerks {
    height: auto;
    width: auto;
    margin-top: 10rem;
}

/* Styling for the perks container */
.sectionPerks .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the perk boxes container */
.sectionPerks .container .containerPerkBoxes {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 4rem;
}

/* Styling for individual perk boxes */
.sectionPerks .container .containerPerkBoxes .perkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    margin: 0 2rem;
    padding: 2rem;
    background-color: #f1f1f1;
}

/* Margin adjustment for text within perk boxes */
.sectionPerks .container .containerPerkBoxes .perkBox p {
    margin-top: 1rem;
}

/* Styling for the contact section */
.sectionContact {
    height: auto;
    width: auto;
    margin-top: 10rem;
    background-color: #f1f1f1;
}

/* Styling for the contact container */
.sectionContact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the contact boxes container */
.sectionContact .container .containerContactBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Styling for individual contact boxes */
.sectionContact .container .containerContactBoxes .contactBox {
    padding: 2rem;
}
