.create-question-container {
    max-width: 70%;
    margin: 5rem auto auto;
}

.answer-container {
    margin: 2rem;
    display: flex;
    gap: 3rem;
}

.answer {
    border-bottom: 1px solid grey;
}

.answer:last-of-type {
    border-bottom: 0;
}

.vote {
    display: flex;
    flex-direction: column;
}

.question {
    margin: 2rem;
    display: flex;
    gap: 3rem;
}

.new-answer-section {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.new-answer-container {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 80%;
    justify-content: center;
    background-color: darkgrey;
    height: 100%;
}

.new-answer-container--inner {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.new-answer-body-textarea {
    min-height: 10rem;
    max-height: 30rem;
    padding: 10px;
    outline: none;
    overflow-y: scroll;
    max-width: 50rem;
    resize: vertical;
}

.new-answer-body-textarea:focus {
    border-color: #ccc;
}


.new-answer-title {
    width: 80%;
    margin: 4rem auto auto;
}

.arrow {
    width: 3rem;
    cursor: pointer;
}

.arrow:hover {
    filter: opacity(0.5);
}

.upvote-count {
    text-align: center;
    padding: 0.5rem 0;
}


.arrow-down {
    transform: rotate(180deg);
}

.profile-picture {
    border-radius: 1rem;
}

.answer-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.created-info {
    display: flex;
    gap: 1rem;
    justify-content: end;
    font-size: .8rem;
    margin-top: 2rem;
    grid-column-start: 4;
    grid-column-end: 6;
}

.person {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.profile-picture {
    width: 5rem;
}

.personal-information {
    display: flex;
    flex-direction: column;
}

.action-buttons {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.edit-button {
    padding: 0;
}

.delete-button {
    padding: 0;
}

.answer-info {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.answers-count {
    margin-top: 1rem;
}


.answer-date {
    display: flex;
    flex-direction: column;
}


.question-body {
    margin-bottom: 2rem;
}

.question-divider {
    margin-bottom: 1rem;
}

.tool-tip-button {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 0;
    margin-bottom: 0.5rem;
}

.tool-tip-button:hover + .tool-tip-content {
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.tool-tip-content {
    position: absolute;
    z-index: 10;
    display: inline-block;
    border-radius: 0.5rem;
    background-color: #343a40;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 500;
    color: #ffffff;
    opacity: 0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}


.question-info {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.certified-answer-check {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
}

.certified-answer {
    width: 2rem;
}

.certified-answer svg {
    color: green;
}

.certified-answer:hover {
    transform: scale(1.2);
}