body {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity));
}

.create-question-container {
    padding-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}


@media only screen and (min-width: 1024px) {
    .create-question-container {
        margin-left: 14.5rem;
        margin-right: 4rem;
    }
}

@media only screen and (min-width: 1500px) {

    .question-container--outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70rem;
        margin: auto;
    }
}

.question-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
    .answers {
        width: 100%;
    }

}

.answer-container {
    display: flex;
    display: flex;
    gap: 3rem;
}

.answer {
    border-bottom: 1px solid grey;
}


.answer:last-of-type {
    border-bottom: 0;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.question {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}


@media only screen and (min-width: 600px) {
    .question {
        gap: 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .question {
        width: 100%;
    }
}


.new-answer-section {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.new-answer-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.new-answer-container--inner {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.new-answer-body-textarea {
    min-height: 10rem;
    max-height: 30rem;
    padding: 10px;
    outline: none;
    overflow-y: scroll;
    max-width: 50rem;
    resize: vertical;
}

.new-answer-body-textarea:focus {
    border-color: #ccc;
}


.new-answer-title {
    width: 80%;
    margin: 4rem auto auto;
    text-align: center;
}

.arrow {
    width: 2rem;
    cursor: pointer;
}

@media only screen and (min-width: 750px) {
    .arrow {
        width: 3rem;
    }
}

.arrow:hover {
    filter: opacity(0.5);
}

.upvote-count {
    text-align: center;
    padding: 0.5rem 0;
}


.arrow-down {
    transform: rotate(180deg);
}

.profile-picture {
    border-radius: 1rem;
}

.answer-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.created-info {
    display: flex;
    gap: 1rem;
    font-size: .8rem;
    margin-top: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.person {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.profile-picture {
    width: 5rem;
    height: 5rem;
}

.personal-information {
    display: flex;
    flex-direction: column;
}

.action-buttons {
    height: 2rem;
}

.edit-button {
    padding: 0;
}

.delete-button {
    padding: 0;
}

.answer-info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

@media only screen and (min-width: 600px) {
    .answer-info {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .action-buttons {
        margin: auto auto 6rem;
    }

    .created-info {
        grid-column-start: 4;
        margin-right: 4rem;
    }
}

@media only screen and (min-width: 1024px) {
    .created-info {
        grid-column-start: 4;
    }

}


.answers-count {
    margin-top: 1rem;
    width: 100%;
    font-weight: 600;
}

.answer-date {
    display: flex;
    flex-direction: column;
}


.question-body {
    margin-bottom: 2rem;
    word-break: break-word;
}

.question-divider {
    margin-bottom: 1rem;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .question-divider {
        width: 100%;
    }
}


.tool-tip-button {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 0;
    margin-bottom: 0.5rem;
}

.tool-tip-button:hover + .tool-tip-content {
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.tool-tip-content {
    position: absolute;
    z-index: 10;
    display: inline-block;
    border-radius: 0.5rem;
    background-color: #343a40;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 500;
    color: #ffffff;
    opacity: 0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    bottom: 10rem;
}


.question-info {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .question-info {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.certified-answer-check {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
}

.certified-answer {
    width: 1.5rem;
}

.certified-answer svg {
    color: green;
}

.certified-answer:hover {
    transform: scale(1.2);
}


@media only screen and (min-width: 750px) {
    .certified-answer {
        width: 2rem;
    }
}

.tool-tip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 500;
    color: #ffffff;
    background-color: rgb(75 85 99);
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    cursor: default;
}

.tooltip-upvote {
    margin-top: 0.35rem;
}

.tooltip-downvote {
    margin-top: .35rem;
}

.tool-tip:hover {
    visibility: visible;
}

.show-tooltip {
    visibility: visible;
}

.button {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    margin: auto;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}

.button:hover {
    background-color: #f4f4f4;
}