body {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity));
}

.questions-container {
    margin-left: 2rem;
    margin-right: 2rem;
}

@media only screen and (min-width: 1024px) {
    .questions-container {
        margin-left: 14.5rem;
    }
}

.buttonContainer {
    margin-left: auto;
}