* {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

.hidden {
    display: none;
}

#usernameUser {
    padding: 1rem;
}

.profileHeader {
    margin: 0 14rem;
    border-bottom: 1px grey solid;
}

.profileHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem 2rem;
}

.profileNameCard {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileNameCard img {
    height: 8rem;
    width: 8rem;
    border-radius: 1rem;
}

.profileNameCard .nameAndRankContainer {
    display: flex;
    flex-direction: column;
}

.profileNameCard .nameCardUsername {
    display: flex;
    justify-content: center;

    width: 8rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.profileHeaderContainer .editProfileBtn {
    margin: 1rem;
    width: 6rem;
    height: 2rem;
}

.profileHeaderContainer .userStatsContainer {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin-left: 1.5rem;

}

.userStatsContainer li {
    display: flex;
    flex-direction: row;
}

.userStatsContainer div {
    margin-left: 0.5rem;
}

.profileTabs {
    margin: 0 14rem;
    padding: 1rem 2rem;
}

.profileTabsContainer {
    display: flex;
    list-style: none;
}

.profileTabsContainer li {
    margin-right: 1rem;
}

.profileTabsContainer button {
    width: 4rem;
    height: 1.5rem;
}

/* public profile section */
.publicProfileSection.hidden {
    display: none;
}

.publicProfileSection {
    margin: 0 14rem;
    padding: 2rem;
}

.publicProfileSection h2 {
    margin-bottom: 1rem;
}

.profileStats {
    display: flex;
    flex-direction: column;
}

.profileStats .profileExpertise {
    display: flex;
    flex-direction: row;
}

.profileStats h3 {
    margin: 1rem 0;
}

.profileStats ul {
    list-style-type: none;
}

.profileStats li {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    background-color: #f1f1f1;
}

/* editProfileSection */
.editProfileSection.hidden {
    display: none;
}

.editProfileSection {
    margin: 0 14rem;
    padding: 1rem 2rem;
}

.editProfileSection h1 {
    margin-bottom: 2rem;
}

.editProfileSection h3 {
    line-height: 1.6;
}

.editProfileSection #editPasswordBtn {
    width: 4rem;
    height: 1rem;
}

.editProfileSection .actionButtons {
    padding: 1rem 0rem;
}

.actionButtons .actionButtonsContainer {
    display: flex;
    flex-direction: row;
}

.actionButtonsContainer li {
    list-style: none;
    margin-right: 0.5rem;
}

.actionButtons button {
    width: 3rem;
    height: 1.5rem;
}


.passwordSection.hidden {
    display: none;
}

.passwordSection {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.passwordSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: black 2px solid;
    border-radius: 2rem;
    padding: 2rem;
}

.passwordSectionContainer input {
    height: 1.5rem;
    width: 25rem;
}

.passwordSectionContainer #passwordCloseBtn {
    align-self: flex-end;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 2rem;
    height: 1rem;
    width: 1rem;
}

.passwordSectionContainer h1, .passwordBox, button {
    align-self: center;
    padding-bottom: 1rem;
}

.passwordSectionContainer #changePasswordBtn {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 1.5rem;
    font-size: 1rem;
    width: 25rem;

}

.errorMessage.hidden {
    display: none;
}

.errorMessage {
    background-color: #ff0033;
    color: white;
    width: 20rem;
    border-radius: 1rem;
    font: 1.1rem bold;
    padding: 1rem;
    margin-bottom: 1rem;
}

.profile-pic {
    color: transparent;
    transition: all .3s ease;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.profile-pic input {
    display: none;
}

.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    border-radius: 100px;
    z-index: 0;
}


.profile-pic label {
    cursor: pointer;
    font-size: 1rem;
    height: 135px;
    width: 135px;
}


.profile-pic:hover .label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10000;
    color: rgb(250, 250, 250);;
    transition: background-color .2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}

.profile-pic span {
    display: contents;
    padding: .2em;
    height: 2em;
}

