.questions-container {
    padding-top: 3.5rem;
}

.questions-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: auto;
    max-width: 70rem;
}

@media only screen and (min-width: 1720px) {
    .questions-table {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.question-body {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 3rem auto auto;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 2.5rem;
    cursor: pointer;
    width: calc(100% - 10rem);
    max-width: 40rem;
}

.question-header {
    display: flex;
    flex-direction: column;
}

.questionTitle {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 1.5rem;
}

.questionsTitle {
    display: flex;
    justify-content: start;
    margin-top: 2rem;
    width: calc(100% - 10rem);
    margin-right: auto;
    margin-left: auto;
}

.questionUser {
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: lightblue;
    padding: .5rem 1rem;
    border-radius: 10rem;
    color: #1F456E;
    white-space: nowrap;
}

.question-tag-section {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin-left: 1rem;
    color: #0492C2;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .questionUser {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 800px) {
    .question-header {
        display: flex;
        flex-direction: row;
    }

    .questionUser {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .question-tag-section {
        justify-content: start;
    }
}

.questionTags {
    margin-left: 1rem;
}

.question-box {
    height: 10rem;
    width: calc(100% - 3rem);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 2px rgba(4,146,194,1),
    15px 1px 0px -4px rgba(4,146,194,1) inset;
}

.question-preview {
    padding: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}

.question-preview-title {
    font-size: .8rem;
    font-weight: 600;
}


@media only screen and (min-width: 800px) {
    .question-preview {
        font-size: medium;
    }

    .question-preview-title {
        font-size: 1.3rem;
    }
}

.question-preview-content {
    color: #0492C2;
}