* {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

/* Styling for the navigation bar */
.navbar {
    height: 3.5rem;
    border-bottom: grey 1px solid;
    padding: 0 1rem;
}

/* Styling for the navigation bar container */
.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/* Margin adjustments for specific navigation bar items */
.navbar .container li:nth-child(3),
.navbar .container li:nth-child(4) {
    margin-right: 0.5rem;
}

.navbar .container li:nth-child(1),
.navbar .container li:nth-child(2) {
    margin-right: auto;
}

/* Styling for buttons within the navigation bar */
.navbar .container button {
    padding: 0.5rem;
}

/* Styling for specific elements within the navigation bar */
.navbar .container #burgerMenu.show {
    height: 2rem;
    cursor: pointer;
}

.navbar .container #burgerMenu {
    display: none;
}

.navbar .container #codeExchangeLogo {
    height: 3.5rem;
}

/* Styling for the sidebar menu */
.sidebarMenu {
    visibility: hidden; /* Initially hide the sidebar */
    padding: 1rem;
    width: 12rem;
    position: fixed;
    border-right: grey 1px solid;
    background-color: white;
    height: 100%;
    top: 0;
}

/* Show the sidebar when the 'show' class is applied */
.sidebarMenu.show {
    visibility: visible;
}

/* Styling for the content container within the sidebar */
.sidebarMenu .container {
    display: flex;
    flex-direction: column;
}

/* Styling for the close button in the sidebar */
.sidebarMenu .container #sidebarClose {
    margin-bottom: 2rem;
    cursor: pointer;
}

/* Styling for the list of buttons in the sidebar */
.sidebarMenu .container .containerButtons {
    list-style: none; /* Remove default list styling */
}

/* Styling for individual buttons within the sidebar */
.sidebarMenu .container .containerButtons button {
    width: 12rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}