body {
    font-size: 1.2em;
    background-color: #0e0224;
    background-image: url(/assets/img/background.jpg) !important;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.alert-danger {
    display: none;
}

.login-box {
    display: flex;
    justify-content: center;
}

.container {
    text-align: start;
    margin-top: 50px;
}

.table-fit {
    width: 70%;
    margin: 0 auto;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
    background-color: #343a40;
    color: #ffffff;
    border-color: #454d55;
}

.answer-count {
    margin-right: 9rem;
}

.pointer {
    cursor: pointer;
}