* {
    padding: 0;
    margin: 0;
}

/* Styling for the navigation bar */
.navbar {
    height: 3.5rem;
    border-bottom: grey 1px solid;
    padding: 0 1rem;
}

/* Styling for the navigation bar container */
.navbar .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.navbar .container .centered-block {
    display: flex;
}


.navbar .container .end-block {
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.navbar .container .end-block .logged-out {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar .container li {
    margin: 0 0.5rem;
}

.navbar .container li:nth-child(1) {
    margin-right: auto;
}

.navbar .container li:nth-child(4) {
    margin-left: auto;
}

.navbar .container #searchBarInput {
    height: 1.5rem;
    width: 40rem;
    margin: auto auto auto 2rem;
}

/* Styling for buttons within the navigation bar */
.navbar .container button {
    padding: 0.5rem;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

/* Styling for specific elements within the navigation bar */
.navbar .container #burgerMenu {
    height: 2rem;
    cursor: pointer;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar .container #codeExchangeLogo {
    height: 3.5rem;
}

.hidden {
    display: none;
}