.container {
    margin-top: 5rem;
}

.answer-container {
    margin: 2rem;
    display: flex;
    gap: 3rem;
}

.vote {
    display: flex;
    flex-direction: column;
}

.question {
    margin: 2rem;
    display: flex;
    gap: 3rem;
}

.question-section {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.question-container {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 80%;
    justify-content: center;
    background-color: darkgrey;
    height: 100%;
}

.question-container--inner {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.question-body-textarea {
    min-height: 10rem;
    max-height: 30rem;
    padding: 10px;
    outline: none;
    overflow-y: scroll;
    max-width: 50rem;
    resize: vertical;
}

.question-body-textarea:focus {
    border-color: #ccc;
}


.new-answer-title {
    width: 80%;
    margin: 4rem auto auto;
}

.arrow {
    width: 3rem;
    cursor: pointer;
}

.arrow:hover {
    filter: opacity(0.5);
}

.upvote-count {
    text-align: center;
    padding: 0.5rem 0;
}


.arrow-down {
    transform: rotate(180deg);
}