/* Styling for the sidebar menu */
.sidebarMenu {
    visibility: hidden; /* Initially hide the sidebar */
    padding: 1rem;
    width: 12.5rem;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Show the sidebar when the 'show' class is applied */
.sidebarMenu.show {
    visibility: visible;
}

/* Styling for the content container within the sidebar */
.sidebarMenu .container {
    display: flex;
    flex-direction: column;
}

/* Styling for the close button in the sidebar */
.sidebarMenu .container #sidebarClose {
    margin-bottom: 2rem;
    cursor: pointer;
}

/* Styling for the list of buttons in the sidebar */
.sidebarMenu .container .containerButtons {
    list-style: none; /* Remove default list styling */
}

/* Styling for individual buttons within the sidebar */
.sidebarMenu .container .containerButtons button {
    width: 12rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}