body {
    font-size: 1.2em;
    background-color: #0e0224;
    background-image: url(/assets/img/background.jpg) !important;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.alert-danger {
    display: none;
}

.login-box {
    display: flex;
    justify-content: center;
}