@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.text-editor {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
    max-width: 80rem;
}

@media only screen and (min-width: 1450px) {
    .text-editor {
        width: 80%;
        margin: auto;
    }
}

.text-editor-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}

.text-editor-button {
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    outline: none;
    color: #020929;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .text-editor-button {
        width: 3rem;
        height: 3rem;
    }

    .text-editor-options {
        gap: 1.5rem;
    }
}


.text-editor-button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity));
    border-radius: .5rem;
}


.text-editor-select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
    cursor: pointer;
}

.text-editor-options label,
.text-editor-options select {
    font-family: 'Poppins', sans-serif;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 24px;
    height: 28px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

.input-wrapper {
    display: flex;
    gap: 1rem;
}

#text-input {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    overflow-y: scroll;
    border-radius: .5rem;
    min-height: 10rem;
}

@media only screen and (min-width: 800px) {
    #text-input {
        min-height: 20rem;
    }
}

.option-button.active, .adv-option-button.active {
    background-color: lightblue; /* Change to your preferred color */
    border-radius: .5rem;
    color: white;
}

/* Add any additional styling for the code block here */
.code-block {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
}

/* Tooltip styling */
.option-button[data-tooltip]:hover::after,
.text-editor-select[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111827; /* Tailwind Gray-900 */
    color: white;
    padding: 8px;
    border-radius: 0.5rem;
    font-size: 0.875rem; /* Tailwind text-sm */
    line-height: 1.25rem;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Tooltip arrow */
.option-button[data-tooltip]:hover::before,
.text-editor-select[data-tooltip]:hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #111827 transparent transparent transparent;
    transform: translateX(-50%);
}