@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.text-editor {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
    max-width: 80rem;
}

@media only screen and (min-width: 1450px) {
    .text-editor {
        width: 80%;
        margin: auto;
    }
}

.text-editor-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}

.text-editor-button {
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    outline: none;
    color: #020929;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .text-editor-button {
        width: 3rem;
        height: 3rem;
    }

    .text-editor-options {
        gap: 1.5rem;
    }
}


.text-editor-button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity));
    border-radius: .5rem;
}


.text-editor-select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
    cursor: pointer;
}

.text-editor-options label,
.text-editor-options select {
    font-family: 'Poppins', sans-serif;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

#text-input {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    overflow-y: scroll;
    border-radius: .5rem;
    min-height: 10rem;
}

@media only screen and (min-width: 800px) {
    #text-input {
        min-height: 20rem;
    }
}

.active {
    background-color: #e0e9ff;
}

/* Add any additional styling for the code block here */
.code-block {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
}